In [2]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

In [3]:
url='https://www.amazon.com/SCREEN-Unisex-T-shirt-Windows-Computer/dp/B008LOFLW4/ref=sr_1_4?dib=eyJ2IjoiMSJ9.7t1k_0bKLy01yqdqIYTaChKBnWQ8nKjTt1rAjBCV8J8JeWE-Y5VPBVgUKy7zYF8KNiIPPaDbnjxrVA-Lekk52jKixeirJdMdevaXCrha4Ot9pR8s3c6sr7rvfxIZQvrfZbrIIAtKQiMVj53b6_ZD2WNnzHgUos8EC8l8wz2qY4avw1nYgnIw7yY5_g-NpRRHxQWxPpPbB1BmF8jElETSIb8I2f0Yxwvm-OB-vtoq9hv4Tw1BGsa6JCwYlxhC5eLXNcZz8-j7o7DedBNhZ0v_EybheqnqaqonSxEIs2idxIg.QtHOif8JmSlI5eassDZneiv2GLckK5VPOY7ppATGOsc&dib_tag=se&keywords=data+tshirt&qid=1756388030&sr=8-4'
headers={ "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0","Accept-Encoding": "gzip, deflate, br, zstd", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
page=requests.get(url,headers=headers)
soup1=BeautifulSoup(page.content,'html.parser')
soup2=BeautifulSoup(soup1.prettify(),'html.parser')

In [41]:
title=soup2.find(id='productTitle').get_text().strip()
price=soup2.find("span",{"class":"a-offscreen"}).get_text()

In [61]:
today=datetime.date.today()
print(today)

2025-08-28

In [63]:
import csv
header=['Title', 'Price','Date']
data=[title,price,today]

with open('Amazon_web_scraping_dataset.csv','w',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [67]:
import pandas as pd
df=pd.read_csv(r"C:\Users\JOEL\Amazon_web_scraping_dataset.csv")
df

                                               Title  Price        Date
0  Mens Name The Triangles Funny Math T Shirt Sar...  14.99  28-08-2025
1  Mens Name The Triangles Funny Math T Shirt Sar...  14.99  2025-08-28

In [66]:
with open('Amazon_web_scraping_dataset.csv','a+',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [ ]:
def check_price():
    url='https://www.amazon.com/Triangles-Funny-Shirts-Sarcasm-Novelty/dp/B00HWYQ28Q/ref=sr_1_3?crid=2V0WIY145K0M6&dib=eyJ2IjoiMSJ9.7t1k_0bKLy01yqdqIYTaChKBnWQ8nKjTt1rAjBCV8J8JeWE-Y5VPBVgUKy7zYF8KNiIPPaDbnjxrVA-Lekk52kNPeH5cW9w335HTFlAx_h4W5VhALNHpTVyxDLr9wm1I2rGSQsYkT015Q4hnfAWVO_WkYewdOTiPLKuMy4_Q7ZqPmkaw-lLFRWsCCHasCzSYECgC3XkKtK9Xg-QIFRmZFfhxArQi9Y86oAcfBpYhedPNFsvn-Suzvsegjl51gB0ES_p682wsDMUNpLMnr__eaqS0rq93Z6Yi8fTcNI4F_L8.eYC2vTRWOkNnOcUn0gj46s7OxjziEhL_IGzn4U8G6P4&dib_tag=se&keywords=data+tshirt&qid=1756367132&sprefix=data+tshirt%2Caps%2C528&sr=8-3'
    page=requests.get(url)
    soup1=BeautifulSoup(page.content,'html.parser')
    soup2=BeautifulSoup(soup1.prettify(),'html.parser')
    title=soup2.find(id="productTitle").get_text().strip()
    price=soup2.find(id='priceblock_ourprice').get_text().strip()
    today=datetime.date.today()
    import csv
    header=['Title', 'Price','Date']
    data=[title,price,today]

    with open('Amazon_web_scraping_dataset.csv','a+',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [ ]:
while true():
    check_price()