In [98]:
from bs4 import BeautifulSoup
import requests

In [99]:
url='https://stockanalysis.com/list/highest-revenue/'

In [100]:
page=requests.get(url)

In [101]:
soup=BeautifulSoup(page.text,'html')

In [1]:
print(soup)

In [2]:
soup.find('table')

In [3]:
soup.find_all('table')

In [105]:
table=soup.find('table',class_="symbol-table svelte-1ro3niy")

In [4]:
print(table)

In [107]:
world_titles=table.find_all('th')

In [5]:
world_titles

In [118]:
world_table_titles=[title.text for title in world_titles]
print(world_table_titles)

['No.', 'Symbol', 'Company Name', 'Revenue ', 'Stock Price', '% Change', 'Market Cap']

In [110]:
import pandas as pd
df=pd.DataFrame(columns=world_table_titles)
df

Empty DataFrame
Columns: [No., Symbol, Company Name, Revenue , Stock Price, % Change, Market Cap]
Index: []

In [114]:
column_data=table.find_all('tr')

In [121]:
for row in column_data[1:]:
    row_data=row.find_all('td')
    individual_row_data=[data.text for data in row_data]
    length=len(df)
    df.loc[length]=individual_row_data

In [122]:
df

,No.,Symbol,Company Name,Revenue,Stock Price,% Change,Market Cap
0,1,WMT,Walmart Inc.,693.15B,96.05,-0.02%,766.52B
1,2,AMZN,"Amazon.com, Inc.",670.04B,228.71,0.34%,"2,439.17B"
2,3,UNH,UnitedHealth Group Incorporated,422.82B,300.43,-1.45%,272.09B
3,4,AAPL,Apple Inc.,408.63B,229.31,0.95%,"3,403.05B"
4,5,CVS,CVS Health Corporation,384.33B,71.55,0.48%,90.75B
...,...,...,...,...,...,...,...
495,496,RL,Ralph Lauren Corporation,7.29B,293.20,2.02%,17.76B
496,497,GNW,"Genworth Financial, Inc.",7.26B,8.61,-0.35%,3.53B
497,498,HBAN,Huntington Bancshares Incorporated,7.24B,17.49,1.16%,25.64B
498,499,CFG,"Citizens Financial Group, Inc.",7.21B,51.31,1.22%,22.13B
499,500,CVI,"CVR Energy, Inc.",7.19B,28.26,-0.56%,2.84B

In [7]:
df.to_csv(r'D:\Companies.csv',index=False)